.header {
    border-bottom: 1px solid #ececec;
  }
  
  .header__conteiner {
    display: flex;
    align-items: center;
  }
  
  .header__logo {
    margin-right: 93px;
    color: $titleTxtColor;
  }